body {
    background-color: rgb(246, 193, 236);
}

#create {
    width: 200px;
    height: 50px;
    color: white;
    outline: none;
    border: 1px solid white;
    background-color: rgb(237, 197, 231);
    position:fixed;
}
#clear {
    margin-left:auto;
    width: 200px;
    height: 50px;
    color: white;
    outline: none;
    border: 1px solid white;
    background-color: rgb(237, 197, 231);
   
}
#create:hover {
    background-color: white;
    color:rgb(237, 197, 231);
    cursor: pointer;
}
#space {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.tamagochi {
    padding-top: 110px;
    margin-bottom: 50px;
    border: 60px solid transparent;
    width: 400px;
    height: 330px;
    border-image-source: url(img/2yvf1w6nj2r81.png);
    border-image-slice: 35%;
    border-image-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
i {
    color: rgb(172, 48, 149);
    margin-left: 5px;
}
p {
    font-family: 'Luckiest Guy', cursive;
   
    margin-bottom: 100px;

}

.feed {
    font-family: 'Stalinist One', cursive;
    color: white;
    padding-bottom: 40px;
    margin-right: 15px;
    border-radius: 50%;
    width: 45px;
   
    height: 60px;
    border: none;
    outline: none;
    background-color: rgb(237, 197, 231);
}

.feed:hover {
    background-color: rgb(185, 74, 166);
    cursor: pointer;
}

img {
    width: 220px;
    height: 370px;
    margin-right: 10px;
}